name: Cypress run
on:  
  # schedule:
  #   - cron: '0 8 * * 2'
  workflow_dispatch:
  push:
    branches:
      - master
    paths-ignore:
      - ".github/workflows/*"
  pull_request:
    types: [opened, edited, reopened]

jobs:
  cypress:
    runs-on: ubuntu-latest
    steps:
      - name: Get project code
        uses: actions/checkout@v4
      - name: Install depandencies
        run: npm i --force
      - name: Run server and test
        run: npm run cy:run:server
        env:
          WORK_ENV: prod
          USER: ${{secrets.USER}}
      - name: Create report
        if: success() || failure()
        run: npm run report:all
      - name: Upload report
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: test-report
          path: mochawesome-report/
  reports:
    # needs: cypress
    runs-on: ubuntu-latest
    steps:
      - name: Get project code
        run: echo "test"